.cabecera-seccion {
  padding-bottom: 1rem;
}

.cabecera-seccion .botones {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cabecera-seccion .subrayado {
  width: 75px;
  height: 3px;
  background-color: var(--color-primario);
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 2px;
}